$bgColor: #fff;
$text: #24292e;
$chocolate: chocolate;
$linkHover: #41b4f6;
$linkFocus: #41f6d7;
$gray: #7e7e82;
$hr: #d9fff5;
$navHover: #b8ffec;
$navFocus: aqua;
$decorLine: #eaeaea;
$pink: #FF3E79;
$focus: #7b4a97;

@keyframes rotate-colors {
  100% {
    filter: hue-rotate(360deg);
  }
}


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*:focus {
  outline-style:auto;
  outline-width: 2px;
  outline-color: $focus;
}
body {
  margin: 0;
  font-family: "TTLakes";
  font-weight: normal;
  background-color: $bgColor;
  color: $text;
}
a {
  text-decoration: none;
  color: $text;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: "TTLakes";
  font-weight: 500;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-close {
  background-image: url('../img/burger-open.svg');
  height: 40px;
  width: 40px;
}

.button-details {
  padding-left: 16px;
  font-size: 16px;
}

.button-details::before {
  content: '';
  background: url(../img/arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -15px;
  margin-top: 5px;
  transition: 0.7s ease-in-out;
}
.button-details--open::before {
  transform: rotate(180deg);
}

.opening-modal {
  position: fixed;
}

