@media screen and (min-width: 1120px) {
  .header__item:nth-child(-n + 3) {
    display: none;
  }
  .header__burger,
  .header__logo {
    display: none;
  }
  .header {
    float: right;
    border: none;
  }
  .header__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__text {
    display: inline-block;
    font-size: 16px;
  }

  .navigation {
    clear: right;
  }
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    row-gap: 10px;
    justify-content: space-between;
  }

  .hidden {
    transform: translateY(0%);
  }
  .burger {
    position: fixed;
    float: left;
  }
  .burger__button {
    display: none;
  }

  main {
    margin-left: 321px;
  }
  .services, .services2 {
    margin-left: 338px;
  }

  .button-details {
    padding-left: 16px;
    font-size: 16px;
  }

  .button-details::before {
    content: '';
    background: url(../img/arrow.svg) no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
    transition: 0.7s ease-in-out;
  }
  .button-details--open::before {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 1330px) {
  .services {
    

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 16px;
      overflow-y: hidden;
      max-height: 170px;
      transition: max-height 0.7s ease-in-out;
    }

    &__pagination {
      display: none;
    }
  }

  .services2 {
    

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 16px;
      overflow-y: hidden;
      max-height: 170px;
      transition: max-height 0.7s ease-in-out;
    }

    &__pagination {
      display: none;
    }
  }
}
