@media screen and (max-width: 767.98px) {
  .header__item:nth-child(-n + 3) {
    display: none;
  }

  .header__repair {
    width: 70px;
  }
  .header__repair::before {
    content: '';
    border-left: 2px solid $decorLine;
    margin-right: 58px;
  }
  .main__container {
    flex-wrap: wrap;
  }

  .button-details {
    display: none;
  }

  .prices {
    &__repair::before {
      content: 'Ремонтные услуги';
      position: absolute;
      top: -20px;
      white-space: nowrap;
      color: $gray;
    }
    &__cost::before {
      content: 'Цена';
      position: absolute;
      top: -20px;
      white-space: nowrap;
      color: $gray;
    }
    &__period::before {
      content: 'Срок';
      position: absolute;
      top: -20px;
      white-space: nowrap;
      color: $gray;
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;

    &__item {
      text-align: center;
    }
  }

  .feedback {
    max-width: 300px;

    .modal-close {
      top: 24px;
      left: 20px;
    }
    &__form {
      padding: 100px 16px;
    }
    &__title {
      margin-left: -16px;
    padding-left: 16px;
    }
  }

  .ordercall {
    max-width: 300px;

    .modal-close {
      top: 24px;
      left: 20px;
    }
    &__form {
      padding: 100px 16px;
    }
    &__title {
      margin-left: -16px;
    padding-left: 16px;
    }
  }
}
