@media screen and (min-width: 768px) and (max-width: 1119.98px) {
  .header__repair {
    width: 70px;
  }
  .header__repair::before {
    content: '';
    border-left: 2px solid $decorLine;
    margin-right: 58px;
  }
  .header__burger {
    width: 70px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 32px;
  }
  .header__burger::before {
    content: '';
    border-right: 2px solid $decorLine;
    margin-left: 58px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1319.98px) {
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  overflow-y: hidden;
  max-height: 170px;
  transition: max-height 0.7s ease-in-out;
}

.services__pagination {
  display: none;
}

.button-details {
  padding-left: 16px;
  font-size: 16px;
}
.button-details::before {
  content: "";
  background: url(../img/arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -15px;
  margin-top: 5px;
  transition: 0.7s ease-in-out;
}
.button-details--open::before {
  transform: rotate(180deg);
}


.services2__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 16px;
  overflow-y: hidden;
  max-height: 170px;
  transition: max-height 0.7s ease-in-out;
}

.services2__pagination {
  display: none;
}
}